configuration {
 modi: "window,drun,ssh";
 theme: "~/.config/rofi/themes/gruvbox-dark-solid-modified.rasi";
 font: "Terminus (TTF) 12";
 combi-modi: "window,drun,ssh";
 width: 17;
 eh: 1;
 lines: 10;
 sidebar-mode: false;
 location: 0;
 icon-theme: "Paper";
 show-icons: false;
 }
